# IDEs
.idea/
.vscode/

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
uv.lock

# Pastas de Dados
data/
tuner_logs/
models/
mlruns/

# Mídia
*.mp4
*.jpg
*.jpeg
*.png
*.db
# Arquivos da FPGA
*.mif